.container {
    
    display: grid;
    max-width: 900px;
    min-height: 50vh;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: "header" "left" "main" "right" "footer";
}

.header {
  grid-area: header;
  padding: 0px;
  background-color:#FFFFFF;
  text-align: center;
    
    }
  

.nav {
  
    justify-content: center;
    padding: 10px;
    background-color:#FFFFFF;
    text-align:center;
    display: inline-block;  
 
  }


     

.section1{
  background-color: #495e57;
}
.title {
  color: #F4CE14;
  font-family:'Times New Roman';
  font-size: 160%;
  text-align:left;
  justify-content:left;
}
.subtitle {
  color: #FFFFFF;
  font-family:'Times New Roman';
  font-size: 120%;
  text-align:left;
  justify-content:left;
}
.p {
  color: #FFFFFF;
  font-family:'Times New Roman';
  font-size: 120%;
  text-align:left;
  justify-content:left;
}

.footer {
    grid-area: footer;
    padding: 10px;
    background-color:black;
    color: #fff;
    text-align: center;
  }

    


    .ul {
      padding: 8px;
      margin: 30px;

    }

    li {
      display: inline-block;
      padding: 8px;
    }
    a:link{
  text-decoration: none;
 }

 .title {
background-color: #495e57;
display:flexbox;
justify-content: center;
    padding: 20px;
   
    text-align:center;
     
 }

 .specials {
  display: flex;
  justify-content:center;
 }
 
 .pictures {
  display: flex;
  justify-content:center;
 }

  