body{
    display:grid;
    height:150vh;
    grid-template-rows:auto 1
}

header{
    grid-area: head;
    background-color: white;
    text-align: center;
    padding: 2em;
}

main {
    background-color:#495E57;
    text-align: center;
    padding: 2em;
}

footer {
    background-color:#495E57;
    text-align: center;
    padding: 2em;
}